.jumbotron {
	background-color: black;
	color: white;
	margin-top: 50px;
}

.footer {
	padding: 10px 20px 10px;
	background-color: black;
	color: white;
	margin-top: 20px;
		
}
.card-hotel {
	flex: 1 200px;
	margin-top: 10 px
}

.btn-reserva {
	width: 100%;
	border-radius: 0px
}
.footer-address-icon{
	padding-right: 7px
}